
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: $bgPage;
  font-family: FiraCodeRegular, sans-serif;
}
p{
  margin: 0;
}
.container{
  padding-left: 0!important;
  padding-right: 0!important;
}
.main-container{
  background: $container;
  padding: 32px 0;
  a{
    display: flex;
    align-items: center;
    p{
      margin-left: 8px;
    }
  }
}
a{
  color: $link-color;
  text-decoration: none;
}