@font-face {
  font-family: 'FiraCodeRegular';
  src: url('../fonts/FiraCode-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'FiraCodeMedium';
  src: url('../fonts/FiraCode-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'FiraCodeSemiBold';
  src: url('../fonts/FiraCode-SemiBold.ttf');
  font-weight: 700;
}
$bgPage:  #1E1E1E;
$container:#282C33;
$link-color: #FFF;
$nav-link-color: #ABB2BF;
$hashTagActive: #E5C07A;
$hashTagDisable: #998051;

